* {
    border: none !important;
    box-shadow: none !important;
}

/* GENERAL */
html {
    background: #2e3440 !important;
}
body {
    background: #2e3440 !important;
}

a {
    color: #81a1c1 !important;
}
a:visited, .selected {
    color: #b48ead !important;
    text-decoration: none !important;
}
/*.toctogglelabel, .mw-collapsible-text, ::before {
    color: #2e3440 !important;
}
.toctogglelabel, .mw-collapsible-text, ::after {
    color: #2e3440 !important;
}*/
.toctogglelabel, .mw-collapsible-text, .toctogglespan label {
    color: #bf616a !important;
    background: none !important;
    padding: 5px !important;
}
.toctogglelabel, .mw-collapsible-text, .toctogglespan label:hover {
    color: #eceff4 !important;
    background: #bf616a !important;
    border-radius: 5px !important;
    padding: 5px !important;
    text-decoration: none !important;
}
.mw-collapsible-toggle a {
    color: #bf616a !important;
    background: none !important;
    padding: 5px !important;
}
.mw-collapsible-toggle a:hover {
    color: #eceff4 !important;
    background: #bf616a !important;
    border-radius: 5px !important;
    padding: 5px !important;
    text-decoration: none !important;
}
/*.toctogglelabel, .mw-collapsible-text, :hover{
    color: #eceff4 !important;
    text-decoration: none !important;
    background: #bf616a !important;
    padding: 5px !important;
    border-radius: 5px !important;
}*/
td p {
    background: #2e3440 !important;
}
table.wikitable, .wikitable td {
    border: 2px solid #4c566a !important;
}

/* NAVBAR */
.toc, .thumbinner {
    border-radius: 5px !important;
    background: #2e3440 !important;
}
#p-navigation {
    background: #5e81ac !important;
}
#p-interaction-label, #p-tb-label, #p-coll-print_export-label, #p-wikibase-otherprojects-label, #p-lang-label {
    color: #d8dee9 !important;
    background: #3b4252 !important;
    background-image: none !important;
    padding: 5px !important;
    border-radius: 5px !important;
}

.mw-interlanguage-selector {
    background-color: #c4bdad !important;
    border-radius: 4px !important;
    filter: invert(100%) !important;
}
/* MAIN */
#mw-head {
    color: #eceff4 !important;
    background: #5e81ac !important;
}
#mw-head-base {
    margin-left: 0 !important;
    background: #5e81ac !important;
    box-shadow: 0 140px 0 105px #5e81ac !important;
}

.mwe-popups {
    background: #3b4252 !important;
    border-radius: 5px !important;
    border: 5px solid #81a1c1 !important;
}
.mwe-popups-is-not-tall {
    border-radius: 5px !important;
}
.mw-ui-icon {
    background: none !important;
    background-image: none !important;
}
    /*Search*/
#searchInput {
    color: #2e3440 !important;
}
.suggestions-result, .special-query {
    color: #eceff4 !important;
    background: #5e81ac !important;
}
.suggestions-special {
    background: #5e81ac !important;
    border-radius: 0px 0px 5px 5px;
}
.suggestions-result:hover {
    background: #81a1c1 !important;
}
.special-query:hover {
    padding-left: 5px;
    border-radius: 0px 0px 5px 5px !important;
}
.special-label {
    color: #2e3440 !important;
}

    /*Header*/
.vector-menu-content-list a:visited, .vector-menu-content-list a {
    color: #eceff4 !important;
    text-decoration: none !important;
}
#p-namespaces, #p-views, .vector-menu-tabs a,
#ca-nstab-main, #ca-talk, #ca-view, #ca-edit, #ca-history, #ca-watch {
    background: #5e81ac !important;
    background-image: none !important;
}
    /*Article*/
.mw-body-content, p {
    color: #eceff4 !important;
    background: #3b4252 !important;
}
.mw-body {
    color: #eceff4 !important;
    background: #3b4252 !important;
    border-radius: 15px 0px 0px 15px !important;
    overflow: visible !important;
    margin-right: 0px !important;
}
.mw-headline, #mw-toc-heading, .fn {
    /*color: #eceff4 !important;*/
    color: #bf616a !important;
    background: #3b4252 !important;
    padding:5px !important;
    border-radius: 5px;    
}
.firstHeading, .noprint, .hatnote, .thumbcation, .tocnumber {
    color: #eceff4 !important;
    background: none !important;
    border-radius: 5px !important;
}

.quotebox {
    border-radius: 5px !important;
    background: #2e3440 !important;
}
.mw-editsection-bracket {
    color: #3b4252 !important;
}

.mw-editsection a {
    color: #a3be8c !important;
    padding: 5px !important;
}
.mw-editsection a:hover {
    color: #eceff4 !important;
    text-decoration: none !important;
    background: #a3be8c !important;
    padding: 5px !important;
    border-radius: 5px !important;
}
.left-aligned {
    background: #2e3440 !important;
}

table, th, td {
    background: #2e3440 !important;
    padding: 5px !important;
    border-radius: 0px !important;
    color: #eceff4 !important;
}

img {
    border-radius: 5px !important;
}
pre, code, .mwe-math-fallback-image-inline {
    background: #c4bdad;
    border-radius: 4px;
    filter: invert(100%);
}

.navbox {
    background: #2e3440 !important;
    border-radius: 5px !important;
}
    /*Footer*/
.catlinks {
    background: #2e3440 !important;
    padding: 5px !important;
    border-radius: 5px !important;
}

#footer-info li {
    color: #d8dee9 !important;
}
